* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.block_info {
    margin-top: 10px;
}

.card {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact {
    text-align: right;
}

.contact img {
    display: inline-block;
    max-height: 20px;
    margin-top: 10px;
    margin-right: 20px;
    opacity: 0.5;
}

.card img {
    height: 200px;
}

/* .swich-lang {
    border: green 1px solid;
} */

.swich-lang p {
    border: bkue 1px solid;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: black;
    opacity: 0.5;
    width: 40px;

}

.swich-lang p:hover {
    color: red;
    opacity: 1;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    font-weight: 400;
    flex: 0 0 100%;
    max-width: 20%;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5%;
    font-size: 16px;
    font-weight: bold;
}

.info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_elem {
    flex: 0 0 100%;
    max-width: 100%;
}

p {
    padding-left: 5%;
}

p span {
    font-size: 18px;
    font-weight: bold;
}

ul p {
    margin-top: 10px;
    margin-bottom: 5px;
}

ul {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 800px;
    margin: auto;
}

td {
    border: solid 1px green;
    width: 100%;
    text-align: center;
}

button {
    background-color: #FFB800;
    font-size: 20px;
    color: #333333;
    font-weight: 500;
    line-height: 24px;
    width: fit-content;
    border-radius: 4px;
    transition-duration: 1s;
    margin: 0 auto;
    display: block;
}

button:hover {
    transform: scale(1.05);
}

@media print {

    html,
    body {
        height: 297mm;
        width: 210mm;
        font-size: 12px;
        margin: 0 auto;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    .links_no_print {
        display: none;
    }

    .only_print {
        display: block;
    }

    .only_scren {
        display: none;
    }
}

@media screen {
    .only_scren {
        display: block;
    }

    .only_print {
        display: none;
    }
}